/* =================================================================================
  Header
================================================================================= */

.site-header {
    position: relative;
    padding: 0;
}

.site-header .container {
    position: relative;
}

.site-header__main {
    padding: 1.25em 0 1em;
    padding-bottom: 9.5px;
    background: #052a57;
    /* background-image: linear-gradient(#052a57, #0a3973); */
}



/* ==================================================
  Logo
================================================== */
.logo-wrap {
    display: inline-flex;
    align-items: center;
}
.header-logo {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.header-logo img {
    max-width: 375px;
    height: 50px;
    border-style: none;
}
.hundred-year-logo a {
    display: block;
}
.hundred-year-logo img{
    display: block;
    height: auto;
    width: 100px;
}
@media only screen and (max-width: 767px) {
    .hundred-year-logo img {
        max-width: 50px;
    }
    .header-logo {
        padding-left: 12px;
    }
}

/* ==================================================
  Header Utility
================================================== */
.header-utility {
    float: right;
}



/* ==================================================
  Header Search
================================================== */
.header-search {
    width: 250px;
    margin-top: 9px;
}

.header-search__form {
    position: relative;
    border: none;
    font-family: 'Raleway';
}

input.header-search__field {
    width: calc(100% - 40px);
    border: none;
    background: #fff;
    box-shadow: inset 0 0 2px #666;
}

input.header-search__field::-webkit-input-placeholder {
    color: #6D6D69;
}
input.header-search__field::-moz-placeholder {
    color: #6D6D69;
}
input.header-search__field:-moz-placeholder {
    color: #6D6D69;
}
input.header-search__field:-ms-input-placeholder {
    color: #6D6D69;
}
input.header-search__field:placeholder-shown {
    color: #6D6D69;
}

.header-search__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 0.7em;
    padding-left: 0.7em;
    border: none;
    border-left: none;
    border-radius: 0;
    background: #3D7BBE;
    color: #fff;
    transition: background 0.25s;
}

.header-search__btn:hover,
.header-search__btn:focus {
    background: #0060a9;
}

.header-search__btn .fa {
    font-size: 1.2em;
}




/* ==================================================
  Header Social
================================================== */
.social--header {
    position: absolute;
    top: 2.5em;
    right: 18px;
    display: inline-block;
}



/* ==================================================
  Header Alert
================================================== */
.header-alert {
    background: #C00E30;
}

.header-alert__content {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    line-height: 1.3;
    padding: 0.75em 2em;
    position: relative;
    text-align: center;
}

.header-alert__content img {
    padding-right: 10px;
}

.header-alert__content h2{
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0 5px 0 0;
}

.header-alert__content p{
    margin: 0;
}

.header-alert__content a {
    display: inline-block;
    margin-left: 0.7em;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
}

.header-alert__content a .fa-angle-double-right {
    margin-left: 0.5em;
    font-size: 11px;
}

.header-alert__content a:hover,
.header-alert__content a:focus {
    opacity: 0.7;
}

.header-alert__close {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    font-family: arial;
    line-height: 1;
    padding: 0.5em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.madness-alert {
    background-color: #008BD6;
}
.madness-alert__content {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1em;
    line-height: 1.3;
    padding: 0 2em;
    position: relative;
    text-align: center;
}
.madness-alert__content a{
    color: #fff;
    font-size: 1.08em;
    font-weight: 700;
    font-family: 'Raleway';
    letter-spacing: 0.02em;
    transition: background-color 0.25s, color 0.25s;
    text-transform: uppercase;
}