/* Locations Map */
.page-template-page-map .banner-booking {
    margin-top: 0;
}
.map {
    padding: 60px;
}
.map .site-headline,
.map .site-headline h1 {
    margin-top: 0;
    padding-top: 0;
}
main .container {
    max-width: 1100px;
    margin: 0 auto;
}
#map-container {
    display: block;
    min-height: 600px;
}

/* Search Form */
.search-container {
    background-color: #f3f1ee;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 30px 0 0;
    padding: 30px;
}
.search-container .label {
    color: #c00e30;
    font-family: 'Raleway';
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
}
.search-container .label-sub-text {
    font-size: 12px;
    color: #777;
}
.search-container input,
.search-container select {
    display: block;
    margin-top: 5px;
    min-width: 225px;
}
.search-container .or {
    color: #007abc;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Raleway';
}
.zip-search {
    min-width: 300px;
}
.zip-search form {
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.zip-search button {
    margin-left: 10px;
    padding: 7px 1em;
    line-height: 25px;
}
.state-search {
    min-width: 300px;
}
.state-search select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid #d7d7d7;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    padding: 0.5em 0.6em 0.4em;
    max-width: 500px;
    width: 100%;
}
.select-wrap {
    position: relative;
}

.select-wrap .fa-angle-down {
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translate(0,50%);
    pointer-events: none;
}

/* Loading Animation */
.map-wrapper {
    position: relative;
}
#loading-animation {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../images/loading_icon.svg) center center no-repeat rgba(0,0,0,0.5);
}

/* Location Results */
.location-results {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    transition: all 0.3s ease;
}
.location-col {
    background: #f3f1ee;
    margin: 30px 15px 0;
    padding: 15px 20px;
    width: calc(33.33% - 30px);
}
.location-col h2 {
    color: #007abc;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Raleway';
    margin-bottom: 0;
}
.location-col h3 {
    margin: 0.25em 0;
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
}
.location-col a {
    color: #c00e30;
    font-size: 0.94em;
    font-weight: bold;
    text-transform: uppercase;
}
.location-col a:after {
    content: '\f138';
    margin-left: 0.5em;
    font-family: "FontAwesome";
    transition: margin 0.25s ease;
}
.location-col a:hover:after {
    margin-left: 0.7em;
}
.location-col :first-child {
    margin-top: 0;
}
.location-col :last-child {
    margin-bottom: 0;
}

/* Map Infobox */
.map-info-wrap {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    min-width: 150px;
}
.map-info-title {
    color: #007abc;
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Raleway';
    margin-bottom: 0;
}
.map-info-address p {
    margin: 0.5em 0;
}
.map-directions a {
    color: #c00e30;
    font-family: 'Raleway';
    font-size: 0.94em;
    font-weight: bold;
    margin: 5px 0 0;
    text-transform: uppercase;
}
.map-directions a i {
    margin-left: 5px;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
    .map {
        padding: 30px 10px;
    }
}
@media only screen and (max-width: 900px) {
    .map {
        padding: 20px 5px;
    }
    #map-container {
        min-height: 500px;
    }
    .search-container {
        flex-direction: column;
        align-items: center;
        margin: 20px 0 0;
        padding: 20px;
    }
    .zip-search form {
        flex-direction: column;
        align-items: flex-start;
    }
    .zip-search form label {
        width: 100%;
    }
    .zip-search button {
        margin: 10px 0 0;
        width: 100%;
    }
    .search-container .or {
        margin: 25px 0 20px;
    }
    .location-results {
        margin: 0 -10px;
    }
    .location-col {
        margin: 20px 10px 0;
        width: calc(50% - 20px);
    }
}
@media only screen and (max-width: 500px) {
    #map-container {
        min-height: 400px;
    }
    .search-container input,
    .state-search select {
        min-width: 0;
    }
    .location-col {
        width: 100%;
    }
}