/** wysiwyg style **/

body#tinymce.wp-editor {
    font-family: sans-serif;
}

body#tinymce.wp-editor a {
	color: #c00e30;
}

body#tinymce.wp-editor h2 {
	color: #18537b;
	font-size: 1.3em;
	line-height: 1.3em;
}

body#tinymce.wp-editor h3 {
	color: #0079c2;
    font-size: 1em;
    line-height: 1.4em;
}

body#tinymce.wp-editor .lead {
    font-size: 1.3em;
}

body#tinymce.wp-editor .callout {
	padding: 0 0 0 2em;
    font-size: 1.4em;
    line-height: 1.25em;
}

body#tinymce.wp-editor .call-to-action {
    font-size: 1.2em;
    font-weight: bold;
}

body#tinymce.wp-editor .footnote {
	margin-top: 3em;
    font-size: 0.87em;
    font-style: italic;
}

body#tinymce.wp-editor hr {
	width: 100%;
	height: 1px;
	margin: 2em 0;
	border: none;
	background: #aaa;
}
