.homepage.cc-umn-duluth { /* added by jason 10-2-13 */
	background:url("img/college-connection/bg_cc-umn-duluth.jpg") top center no-repeat;
	-webkit-background-size: 1700px 1500px;
	background-color: #e7e7e7;
	background-position-y: 0;
}
